workflows/Generate Complete SEO Strategy Reports with SerpAPI Data and GPT-4 Agent Team.json
{
  "name": "Generate Complete SEO Strategy Reports with SerpAPI Data and GPT-4 Agent Team",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hello There!",
        "options": {
          "subtitle": "Your AI SEO team is on the case. A full strategy report may take up to 90 seconds.",
          "title": "Welcome to SEO Strategy Agent",
          "responseMode": "responseNodes"
        }
      },
      "id": "a90ea8d2-49fe-4c6c-b839-1542dc116084",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        832,
        592
      ],
      "webhookId": "696a9839-f036-40e8-877f-bfe013aaf93a",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "877f4d5a-fc81-4101-b84b-d300bfdb4c68",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        880,
        816
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "SmbdYO2btmFBs2gY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Specialist agent focused on keyword research, search intent analysis, competitor keyword analysis, and keyword clustering for SEO campaigns.",
        "text": "=={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a Keyword Research Specialist with deep expertise in SEO keyword strategy.\n\nYour core responsibilities:\n- Conduct comprehensive keyword research\n- Analyze search intent (informational, navigational, commercial, transactional)\n- Perform competitor keyword gap analysis\n- Create keyword clusters and content groups\n- Estimate search volumes and keyword difficulty\n- Identify long-tail keyword opportunities\n\nWhen analyzing a request:\n1. Identify primary target keywords (high volume, high intent)\n2. Suggest secondary keywords and variations\n3. Categorize keywords by search intent\n4. Provide estimated difficulty scores (Easy/Medium/Hard)\n5. Recommend keyword implementation strategy\n6. Suggest content topics based on keyword clusters\n\nAlways structure your response with:\n- Primary Keywords (3-5)\n- Secondary Keywords (10-15)\n- Long-tail Opportunities (5-10)\n- Search Intent Breakdown\n- Implementation Priority\n\nBe specific, data-driven, and actionable in your recommendations."
        }
      },
      "id": "b94c3173-c37b-46ac-b129-55022aee4390",
      "name": "Keyword Research Specialist",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        368,
        1120
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "toolDescription": "Specialist agent focused on technical SEO audits, site speed optimization, schema markup, crawlability, and technical infrastructure.",
        "text": "=={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a Technical SEO Specialist with expertise in website optimization and technical infrastructure.\n\nYour core responsibilities:\n- Conduct technical SEO audits\n- Optimize site speed and Core Web Vitals\n- Implement schema markup and structured data\n- Fix crawling and indexing issues\n- Optimize site architecture and internal linking\n- Ensure mobile-friendliness and responsive design\n- Handle robots.txt, XML sitemaps, and canonical tags\n\nWhen analyzing a request:\n1. Identify critical technical issues\n2. Prioritize fixes by impact (High/Medium/Low)\n3. Provide specific implementation steps\n4. Recommend tools for monitoring\n5. Suggest performance benchmarks\n6. Consider technical scalability\n\nStructure your response with:\n- Critical Issues (immediate fixes needed)\n- Site Speed Recommendations\n- Schema Markup Opportunities\n- Crawlability Improvements\n- Mobile Optimization Steps\n- Monitoring & Maintenance Plan\n\nProvide technical but understandable recommendations with clear implementation guidance."
        }
      },
      "id": "52b14a78-9ebd-4747-a5e6-563c49ae6e34",
      "name": "Technical SEO Specialist",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        656,
        1120
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "toolDescription": "Specialist agent focused on backlink strategy, outreach campaigns, link acquisition tactics, and authority building.",
        "text": "=={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a Link Building Strategist with expertise in earning high-quality backlinks and building domain authority.\n\nYour core responsibilities:\n- Develop comprehensive link building strategies\n- Create outreach campaign plans\n- Identify link-worthy content opportunities\n- Analyze competitor backlink profiles\n- Recommend guest posting and PR opportunities\n- Build relationships with relevant websites and influencers\n\nWhen analyzing a request:\n1. Identify target link sources (blogs, news sites, directories, industry sites)\n2. Create tiered link building approach (Tier 1, 2, 3)\n3. Develop outreach messaging templates\n4. Suggest linkable asset creation (infographics, tools, research)\n5. Recommend link monitoring and reporting\n6. Provide realistic timeline and effort estimates\n\nStructure your response with:\n- Target Link Sources (20-30 prospects)\n- Outreach Strategy & Templates\n- Linkable Asset Recommendations\n- Guest Posting Opportunities\n- PR & Digital PR Tactics\n- Monthly Link Building Goals\n- Success Metrics\n\nFocus on white-hat, sustainable link building practices that build long-term authority."
        }
      },
      "id": "5d2e983c-5d06-4cad-9593-e5eae8bd1a2a",
      "name": "Link Building Strategist",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        944,
        1120
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "toolDescription": "Specialist agent focused on SEO performance tracking, analytics setup, KPI monitoring, and data-driven insights.",
        "text": "=={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are an SEO Analytics Specialist with expertise in tracking, measuring, and reporting SEO performance.\n\nYour core responsibilities:\n- Set up comprehensive SEO tracking systems\n- Define and monitor key performance indicators (KPIs)\n- Analyze Google Analytics and Search Console data\n- Track keyword rankings and visibility\n- Create custom dashboards and reports\n- Provide data-driven optimization recommendations\n\nWhen analyzing a request:\n1. Define relevant SEO KPIs and success metrics\n2. Recommend analytics tools and setup\n3. Create measurement framework\n4. Design reporting structure and frequency\n5. Identify data connections and integrations\n6. Suggest A/B testing opportunities\n\nStructure your response with:\n- Core SEO KPIs to Track\n- Analytics Setup Recommendations (GA4, GSC, etc.)\n- Dashboard Requirements\n- Reporting Schedule (weekly/monthly)\n- Tracking Implementation Steps\n- Conversion Tracking Setup\n- Alert & Monitoring Rules\n\nProvide actionable insights that connect SEO efforts to business outcomes."
        }
      },
      "id": "1a3d1473-a10d-436c-b529-060ad43f26f0",
      "name": "SEO Analytics Specialist",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        1232,
        1104
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "toolDescription": "Specialist agent focused on local search optimization, Google Business Profile, local citations, and geo-targeted strategies.",
        "text": "=={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a Local SEO Specialist with expertise in optimizing businesses for local search and Google Maps visibility.\n\nYour core responsibilities:\n- Optimize Google Business Profile (GBP)\n- Build and manage local citations (NAP consistency)\n- Implement local schema markup\n- Create geo-targeted content strategies\n- Manage online reviews and reputation\n- Optimize for \"near me\" and local intent searches\n\nWhen analyzing a request:\n1. Assess local search opportunity and competition\n2. Provide GBP optimization checklist\n3. Identify citation building opportunities\n4. Suggest local content topics\n5. Create review generation strategy\n6. Recommend local link building tactics\n\nStructure your response with:\n- Google Business Profile Optimization Steps\n- Local Citation Building Plan (30-50 sources)\n- Local Schema Implementation\n- Geo-Targeted Content Strategy\n- Review Management Approach\n- Local Link Building Opportunities\n- Local Pack Ranking Factors\n\nFocus on strategies that improve local visibility and drive foot traffic or local conversions."
        }
      },
      "id": "54b0bb90-4cf0-4201-b3de-c41d8ef7d0ce",
      "name": "Local SEO Specialist",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        1520,
        1120
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "toolDescription": "Specialist agent focused on creating SEO-optimized content, content briefs, editorial calendars, and on-page optimization.",
        "text": "=={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are an SEO Content Writer with expertise in creating search-optimized, high-quality content that ranks and converts.\n\nYour core responsibilities:\n- Create detailed content briefs\n- Write SEO-optimized blog posts and landing pages\n- Develop content calendars and topic clusters\n- Optimize existing content for better rankings\n- Implement on-page SEO best practices\n- Balance SEO requirements with user experience\n\nWhen analyzing a request:\n1. Develop content topic ideas based on keywords\n2. Create detailed content briefs (structure, headings, word count)\n3. Suggest content formats (how-to, listicle, guide, etc.)\n4. Provide on-page optimization checklist\n5. Recommend internal linking strategy\n6. Create content publishing schedule\n\nStructure your response with:\n- Content Topic Recommendations (10-15 topics)\n- Detailed Content Briefs (3-5 priority pieces)\n- Editorial Calendar (3-6 months)\n- On-Page Optimization Guidelines\n- Content Cluster Strategy\n- Meta Title & Description Templates\n- Internal Linking Recommendations\n\nCreate content strategies that serve both search engines and human readers, focusing on quality and relevance."
        }
      },
      "id": "60b26e5a-0ae7-43ff-af35-7b11026e9a94",
      "name": "SEO Content Writer",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "position": [
        1808,
        1120
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "1198932f-c345-4b29-bc68-e6409df28475",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        448,
        1424
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "SmbdYO2btmFBs2gY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "4b021528-dd3a-407e-aa27-1a71f4f346a7",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        720,
        1440
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "SmbdYO2btmFBs2gY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "90e44326-807d-4025-9af1-1013adce8c15",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1520,
        1440
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "SmbdYO2btmFBs2gY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "d2ff2fbc-83af-4ce7-a85e-d6c7e642dcaf",
      "name": "OpenAI Chat Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        976,
        1440
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "SmbdYO2btmFBs2gY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "2b9c947e-c354-4c3a-a5f7-624c41b859aa",
      "name": "OpenAI Chat Model5",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1264,
        1440
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "SmbdYO2btmFBs2gY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "1f1cbd9e-906c-4169-a441-b55fe11a72bc",
      "name": "OpenAI Chat Model6",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1808,
        1440
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "SmbdYO2btmFBs2gY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are an SEO Strategy Director, managing an expert system of AI agents. Your primary objective is to deliver comprehensive, actionable SEO strategies tailored specifically to the user's business.\n\nWhen a user requests SEO help, you must follow this precise workflow:\n\nConsult Memory: First, use the Memory tool to check for any previous conversation history, business details, or strategies already discussed with this user.\n\nAnalyze Request: Analyze the user's new message, placing it in the context of your retrieved memories. Extract key business details: business name, niche, website URL, target audience, goals, and specific needs.\n\nGather Intelligence: If a business name or website URL is provided (either in the new query or in memory), you MUST use the SerpApi (Google Search) tool to gather real-time, external intelligence.\n\nExample searches: \"What is [User's Business Name]?\", \"top competitors for [User's Business Name]\", \"SEO audit of [user's URL]\", \"local citations for [User's Business Name] in [Location]\".\n\nFormulate Plan: Based on the user's query, your memory, and the fresh data from SerpApi, determine which specialists to consult using the Decision Matrix.\n\nDelegate to Specialists: Call the required specialist tools. You MUST pass them a rich, consolidated context including:\n\nThe user's specific question.\n\nKey business details (from memory and the query).\n\nYour key findings from the SerpApi search (e.g., \"SerpApi shows your top 3 competitors are X, Y, and Z\").\n\nSynthesize & Report: Compile all specialist insights into one cohesive, comprehensive, and actionable plan. Follow the Response Structure exactly.\n\nAvailable Tools\nYou have two types of tools available:\n\n1. Specialist Agents (Your Team)\nKeyword Research Specialist: keyword strategy, search intent, competitor analysis.\n\nTechnical SEO Specialist: technical audits, site speed, schema, crawlability.\n\nLink Building Strategist: backlink strategy, outreach, PR campaigns.\n\nSEO Analytics Specialist: tracking, KPIs, analytics setup, reporting.\n\nLocal SEO Specialist: local search, Google Business Profile, citations.\n\nSEO Content Writer: content strategy, briefs, editorial calendars.\n\n2. Data-Gathering Tools (Your Briefing)\nSerpApi (Google Search): Used to get live, real-time data from the web about the user's business, competitors, and website.\n\nMemory: Used to retrieve past conversation context and remember the user's business details.\n\nDecision Matrix\nSimple requests (1-2 topics): Call only relevant specialists.\n\nExample: \"Help with keywords\" → Call Keyword Research only.\n\nMedium requests (specific area): Call 2-4 related specialists.\n\nExample: \"Fix my slow site\" → Call Technical SEO + Analytics (and use SerpApi to run a basic speed test).\n\nComprehensive requests (full strategy): Call ALL 6 specialists.\n\nExample: \"Create full SEO strategy for my business\" → Call all specialists, Memory, and SerpApi.\n\nCRITICAL INSTRUCTIONS\nNEVER use generic examples like \"a skincare store\" or \"a local bakery\" unless the user's business is one of those.\n\nAlways base ALL recommendations on the user's ACTUAL business.\n\nUse your tools: You MUST use Memory every time. You MUST use SerpApi if a business name or URL is available.\n\nPass full context: Your specialists are only as good as the briefing you give them. Pass all relevant data (query, memory, SerpApi findings) to them.\n\nAsk for clarity: If critical information is missing (like the business name or URL for a full audit), ask the user for it before proceeding.\n\nResponse Structure\n# SEO STRATEGY REPORT FOR [USER'S ACTUAL BUSINESS NAME]\n\n(Sourced from: [User's Query, Memory, and SerpApi live search])\n\nExecutive Summary\n[2-3 sentences overview specific to their business, informed by your tool-based analysis]\n\nStrategy Components\nKeyword Strategy\n[Recommendations from Keyword specialist - specific to their niche, referencing competitors found via SerpApi]\n\nTechnical Foundation\n[Recommendations from Technical specialist - for their actual site, informed by SerpApi findings]\n\nAuthority Building\n[Link building strategy - for their specific industry]\n\nPerformance Tracking\n[Analytics setup - tailored to their goals]\n\n[Include other relevant specialist sections]\nPriority Action Plan\n[Most critical action for THEIR business]\n\n[Second priority for THEIR needs]\n\n[Third priority]\n\nTimeline & Next Steps\n[Realistic timeline and clear next actions]"
        }
      },
      "id": "760f9979-5c71-4ba6-bcce-ebb90f54dabf",
      "name": "SEO Director Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1120,
        768
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {},
      "id": "0283e8b2-63b0-4c2d-98f9-c3a0d11f85a3",
      "name": "Think",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        1536,
        832
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "waitUserReply": false,
        "options": {}
      },
      "id": "5f1121a6-03fe-444c-8af4-5351bf22b196",
      "name": "Respond to Chat",
      "type": "@n8n/n8n-nodes-langchain.chat",
      "position": [
        1872,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "contextWindowLength": 25
      },
      "id": "05d9cbcb-d1bc-4b4f-ace8-d310644b1504",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1296,
        592
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c2a6fecb-0b15-4201-a69c-73ecf8e0774b",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        1520,
        592
      ],
      "typeVersion": 1,
      "credentials": {
        "serpApi": {
          "id": "HUpcXPBc60OYr4qq",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "content": "## How it works\nThis workflow acts as an autonomous \"AI SEO Agency.\" It is managed by a **Director Agent** (top center) that coordinates a team of 6 specialists.\n\n1. **Analysis:** When you chat, the Director checks **Memory** and runs live market research using **SerpApi (Google Search)**.\n2. **Delegation:** Based on real-time data, the Director assigns tasks to the 6 **Specialist Agents** below (Keyword, Technical, Link Building, Analytics, Local, and Content).\n3. **Reporting:** The Director compiles their work into a single, professional strategy report.\n\n## Setup steps\n1. **OpenAI Keys:** Add your OpenAI API key to **all 7** \"OpenAI Chat Model\" nodes (1 for the Director, 6 for the Specialists).\n2. **SerpApi Key:** Click the \"SEO Director Agent\" node. Under \"Tools\" > \"SerpApi,\" add your key to enable live Google Search.\n3. **Run:** Click \"Active\" and start chatting.",
        "height": 448,
        "width": 544
      },
      "id": "d9854b0e-179f-4de2-9e9e-2cf34ddf5ecd",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## The Manager Core\nThe **SEO Director Agent** is the brain. It receives your prompt, pulls context from **Memory**, and gathers live data via **SerpAPI** before deciding which specialists to hire for the job.",
        "height": 528,
        "width": 864,
        "color": 7
      },
      "id": "b79d9a84-2f36-4723-a72b-b4815e0ca1e1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## The Specialist Team\nThese 6 nodes are configured as **Tools**. They don't run automatically; the Director calls them individually to perform specific tasks (like running a technical audit or researching keywords).\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Specialist LLMs\nThese models power the individual specialist agents. You need to add your OpenAI credential to each of these nodes (you can use the same key for all of them).",
        "height": 592,
        "width": 1952,
        "color": 7
      },
      "id": "5614e659-b56a-494d-a414-2f3b64272d36",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        976
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## تم التحضير بواسطة \n**م. أحمد الصيرفي**  \n\nللتعلّم وتطوير مهاراتك في الأتمتة، زور موقعنا: \n [ahmedelserafy.com](https://ahmedelserafy.com/automation_course)\n\n\n",
        "width": 1904,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        16
      ],
      "typeVersion": 1,
      "id": "d4993e1b-6238-4932-a542-c3a5c7414982",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "Think": {
      "ai_tool": [
        [
          {
            "node": "SEO Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "SEO Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "SEO Director Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SEO Director Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Keyword Research Specialist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Technical SEO Specialist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Local SEO Specialist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Link Building Strategist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "SEO Analytics Specialist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "SEO Content Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SEO Content Writer": {
      "ai_tool": [
        [
          {
            "node": "SEO Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SEO Director Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local SEO Specialist": {
      "ai_tool": [
        [
          {
            "node": "SEO Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Link Building Strategist": {
      "ai_tool": [
        [
          {
            "node": "SEO Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SEO Analytics Specialist": {
      "ai_tool": [
        [
          {
            "node": "SEO Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Technical SEO Specialist": {
      "ai_tool": [
        [
          {
            "node": "SEO Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "SEO Director Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Research Specialist": {
      "ai_tool": [
        [
          {
            "node": "SEO Director Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d4115f4d-8e34-40e6-b3bc-634d2f6ee671",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8cc02b7ee455546e810d08738011668dbd8a0ff20f5c3d244c8bf7431221366"
  },
  "id": "hu8nbMr7ib144hT3",
  "tags": [
    {
      "updatedAt": "2025-12-27T21:45:37.263Z",
      "createdAt": "2025-12-27T21:45:37.263Z",
      "id": "16E8f8t6swxqoJpt",
      "name": "packs"
    }
  ]
}